/openfile
/jim-and-the-orders.rb
/sherlock-and-array.rb
/permuting-two-arrays.rb
/find-the-median.rb
/closest-numbers.rb
/forming-a-magic -square.rb
/the-bomberman-game.rb
/common-child.rb
/travel-aroung-the-world.rb